<!-- Modal Logout-->
<div class="modal fade" id="modalLogOut" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content modal-logout">
            <div class="modal-header modal-header-logout">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to logout ?</h5>
                <button type="button" class="close close-modal-logout" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-logout">
                <p>If you logout, you must login again to access this page.</p>
            </div>
            <div class="modal-footer modal-footer-logout">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'app:logout' %}" type="button" class="btn btn-main">Sign out</a>
            </div>
        </div>
    </div>
</div>
<!-- End modal logout-->