:root {
    --main-color: #8639f9;
    --secondary-color: #9459be;
    --light-color: #ffffff;
    --black-800: #3d3d3d;
    --black-400: rgb(173, 173, 173);
    --shadow-black-100: 0 5px 15px #ad54ec57;
    --shadow-main-100: 0 5px 35px #ad54ecaf;
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --shadow-black-200: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #8260ad radial-gradient(circle, transparent 1%, #8260ad 1%) center/15000%;
    color: #ffffff;
}

.ripple:active {
    background-color: #c698fd;
    background-size: 100%;
    transition: background 0s;
}

.material-icons.md-18 {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}


.asteriskField {
    display: none;
}

.dark-light {
    width: 40px;
    height: 40px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s ease;
}

a.link-profile {
    text-decoration: none;
}

.dark-light:hover {
    background-color: #dbdbdb;
}

.dark-light .icon-dark {
    display: block;
}

.dark-light .icon-light {
    display: none;
}


.btn-main {
    background-color: var(--main-color);
    color: var(--light-color);
    box-shadow: var(--shadow-black-100);
}

.btn-main:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.btn-main:focus {
    box-shadow: var(--shadow-main-100);
}

.btn-logout {
    background-color: #ababab36;
    color: var(--black-800);
    cursor: pointer;
}

/* ==================== SCROLL BAR =============== */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--main-color);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--main-color);
}

.navbar-nav-top .navbar-nav-top-item {
    display: flex;
    box-sizing: border-box;
}

.navbar-nav li.navbar-nav-top-item {
    margin: 5px 0;
    align-items: center;
}

.nav-dashboard {
    background-color: var(--light-color);
    width: 100%;
    border-bottom: 1px solid #eee;
}

.title-navbar .navbar-brand,
.title-navbar .navbar-brand:hover {
    color: var(--black-800);
    font-weight: bold;
    font-size: 20px;
}

.nav-link-dashboard {
    justify-self: center;
    color: var(--black-400);
    border-radius: 10px;
    transition: .3s ease-in-out;
    align-items: center;
    display: block;
    white-space: nowrap;
}

.nav-link-dashboard.active,
.nav-link-dashboard:hover {
    background: #8833ff;
    color: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
}

.nav-item {
    margin-bottom: 15px;
    font-size: 15px;
}

.icon-my-navbar,
.icon-dark {
    /* color: #707070; */
    color: var(--main-color);
}


.my-icon {
    line-height: 2;
}

.sideMenuToggler {
    cursor: pointer;
    color: rgb(92, 92, 92);
    font-weight: bold;
}

.sideMenuToggler:hover {
    color: var(--main-color);
}

.sideMenu {
    background: #fff;
    height: 100%;
    border: 1px solid #eee;
}

.wrapper .sideMenu {
    position: fixed;
    padding: 15px;
    top: 0;
    bottom: 0;
    margin: 50px auto;
    left: 0;
    width: 13rem;
    transition: all ease .25s;
    transform: translateX(-100%);
    z-index: 999;
}

.wrapper .content {
    width: 100%;
    margin-left: 0rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.nav-link-dashboard .icon {
    margin-right: 1rem;
    font-size: 1.5rem;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



.item {
    padding: 15px 10px;
}

.profile-content {
    position: relative;
    background-color: var(--light-color);
    padding: 20px 0;
    height: 100%;
    border-radius: 10px;
}

.profile-content form {
    padding: 30px;
}

.form-profile {
    background: #eee;
    border: 2px solid transparent;
}

.form-profile:focus {
    background: #fdfdfd;
    border: 2px solid #913be2;
    box-shadow: 0px 0px 1px #913be2;
}

.profile-image {
    width: 200px;
    height: 200px;
}

.card-profile {
    border-radius: 7px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-transform: capitalize;
}

.alert-profile {
    position: absolute;
    width: 450px;
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
    background-color: #e6fffa;
    color: #234e52;
    border-top: 5px solid #38b2ac;
    font-size: 18px;
}

.alert-profile i {
    color: #234e52;
}

.card-image {
    text-align: center;
}

.file-upload {
    display: none;
}



@media (max-width: 800px) {

    li.nav-img,
    li.nav-username {
        display: none !important;
    }
}



@media (min-width: 1200px) {
    .wrapper .sideMenu {
        transform: translateX(0);
    }

    .wrapper .content {
        margin-left: 12.5rem;
    }

    .wrapper.active .sideMenu {
        width: 5rem;
    }

    .wrapper.active .sideMenu .nav-link {
        text-align: center;
    }

    .wrapper.active .sideMenu .nav-link .icon {
        margin-right: 0;
    }

    .wrapper.active .sideMenu .nav-link .text {
        display: none;
    }

    .wrapper.active .content {
        margin-left: 5rem;
    }

    .card-landing-page {
        column-count: 3;
        column-gap: 40px;
        break-inside: avoid-column;
    }
}